{%- macro http_response(responses = []) -%}
    {%- for response in responses -%}
        http-response {{ response.action }}{% if response.param is defined %} {{ response.param }}{% endif %}{% if response.condition is defined %} {{ response.condition }}{% endif %}

    {% endfor -%}
{%- endmacro -%}

{%- macro http_request(requests = []) -%}
    {%- for request in requests -%}
        http-request {{ request.action }}{% if request.param is defined %} {{ request.param }}{% endif %}{% if request.condition is defined %} {{ request.condition }}{% endif %}

    {% endfor -%}
{%- endmacro -%}

{%- macro stick_table(tbl) -%}
        stick-table type {{ tbl.type }} size {{ tbl.size }}{% if tbl.expire is defined %} expire {{ tbl.expire }}{% endif %}{% if tbl.nopurge is defined and tbl.nopurge %} nopurge{% endif %}{% if tbl.peers is defined %} peers {{ tbl.peers }}{% endif %}{% if tbl.store is defined %} store {{ tbl.store }}{% endif %}
{%- endmacro -%}
